# Server
HOSTNAME=localhost
PORT=8080

# Access Control
ACCESS_CONTROL_ALLOW_ORIGIN=*

# Header
REF_ID_HEADER_KEY=X-Ref-Id

# JWT
JWT_ISSUER=hm-core-platform-mgmt
JWT_AUDIENCE=hm-core-platform
JWT_EXP_DURATION=24h

# GCP Firestore
GCP_PROJECT_ID=your-project-id
GCP_CREDENTIALS_JSON=
GCP_FIRESTORE_DATABASE_ID=(default)
GCP_FIRESTORE_CONNECT_TIMEOUT=30s

# Google OAuth2
GOOGLE_OAUTH2_VERIFY_TOKEN=https://oauth2.googleapis.com/tokeninfo
GOOGLE_OAUTH2_GET_USER_PROFILE=https://openidconnect.googleapis.com/v1/userinfo

# Secrets
SECRET_JWT_PRIVATE_KEY=
SECRET_AESGCM_KEY=
SECRET_HASH_PEPPER=
